<div class="content" role="main">

    <h1>
        Selecciona pulsaciones
    </h1>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Seleccionar pulsaciones por minuto</mat-card-title>
        </mat-card-header>
        <!-- <mat-card-content> -->
        <mat-card >
            <mat-form-field appearance="fill" class="formInputred redBox">
                <input matInput type="number">
            </mat-form-field>
        </mat-card>
        <!-- </mat-card-content> -->
    </mat-card>

    <app-basic-button buttonLink="/seleccionatiempo" buttontext="Siguiente"></app-basic-button>
</div>