<div class="content" role="main">

    <h1>
        Enlazar dispositivo
    </h1>
    <ul>
        <li>
            Selecciona el reloj o dispositivo con el que puedas medir tu pulso cardiaco
        </li>
        <li>
            Recuerda encender el Bluethooth en ambos tu celular y dispositivo
        </li>
    </ul>

    <app-list-element content="Dispositivo 1"></app-list-element>
    <app-list-element content="Dispositivo 2"></app-list-element>

    <app-basic-button buttonLink="/listadoalarmas" buttontext="Siguiente"></app-basic-button>
</div>