<div class="content" role="main">

    <h1>
        Seleccionar el tiempo
    </h1>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Tiempo de las pulsaciones para apagar alarma</mat-card-title>
        </mat-card-header>
        <!-- <mat-card-content> -->
        <mat-card class="cardmain">
            <div class="maincontainer">
                <div>
                    <p class="boxhelper">Minutos</p>
                    <mat-form-field appearance="fill" class="formInputred redBox">
                        <input matInput type="number" placeholder="00">
                    </mat-form-field>
                </div>
                <div>
                    <p class="connector">:</p>
                </div>
                <div>
                    <p class="boxhelper">Segundos</p>
                    <mat-form-field appearance="fill" class="formInputclear redBox">
                        <input matInput type="number" placeholder="00">
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <!-- </mat-card-content> -->
    </mat-card>

    <app-basic-button buttonLink="/confirmar" buttontext="Siguiente"></app-basic-button>
</div>