<div class="content" role="main">

    <h1>
        Confirmar
    </h1>

    <mat-list class="maindays">
        <mat-list-item>Hora - &gt; 00:00</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Dias - &gt; L,MA,MI,J,V,S</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pulsaciones - &gt; 70ppm</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Tiempo apagar - &gt; 1min</mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>
    <div>
        <app-basic-button buttonLink="/listadoalarmas" buttontext="Guardar"></app-basic-button>
        <app-basic-button buttonLink="/listadoalarmas" buttontext="Cancelar"></app-basic-button>
        <app-basic-button buttonLink="/seleccionahora" buttontext="Borrar"></app-basic-button>
    </div>
</div>
