<div class="content" role="main">
    <app-basic-button buttonLink="/" buttontext="Configuracion"></app-basic-button>



        <mat-card class="config">
            <mat-card-content><a routerLink="/configurardatos">Configurar datos personales</a></mat-card-content>
        </mat-card>
        <mat-card class="config">
            <mat-card-content><a routerLink="/enlazardisp">Enlazar dispositivo</a></mat-card-content>
        </mat-card>

    <h1>
        Listado de alarmas
    </h1>

    <app-list-element content="Alarma 1"></app-list-element>
    <app-list-element content="Alarma 2"></app-list-element>

    <app-basic-button buttonLink="/seleccionahora" buttontext="Crear Alarma"></app-basic-button>
</div>